Repository dani-wilson/little-shop-7, pull requests merged in 2023-07, with the labels that each got.

#43 chore: Add gems and gem helpers
  Gemfile
  spec/rails_helper.rb
Labels: enhancement

#48 47 create models associations validations and tests
  Gemfile.lock
  app/models/customer.rb
  app/models/invoice.rb
  app/models/invoice_item.rb
  app/models/item.rb
  app/models/merchant.rb
  app/models/transaction.rb
  db/migrate/20230725200725_update_status_column_in_invoices.rb
  db/migrate/20230725203207_update_status_in_items.rb
  db/migrate/20230725204119_update_items_id_in_invoice_items.rb
  db/schema.rb
  spec/models/customer_spec.rb
  spec/models/invoice_item_spec.rb
  spec/models/invoice_spec.rb
  spec/models/item_spec.rb
  spec/models/merchant_spec.rb
  spec/models/transaction_spec.rb
Labels: PR

#56 User story 1v2
  app/controllers/dashboard_controller.rb
  app/views/dashboard/index.html.erb
  spec/features/dashboard/index_spec.rb
Labels: Merchant, PR

#55 Feat: Add tests and functionality for user story 6
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  spec/features/merchant_spec.rb
Labels: Merchant

#57 User story 7.1
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  spec/features/merchant_spec.rb
Labels: Merchant

#61 User story 2v2
  app/views/dashboard/index.html.erb
  spec/features/dashboard/index_spec.rb
Labels: enhancement, Merchant, PR

#62 User story 32
  app/assets/stylesheets/application.css
  app/views/admin/invoices/index.html.erb
  app/views/admin/merchants/index.html.erb
  app/views/shared/_admin_topper.html.erb
Labels: Admin, PR

#68 User story 33
  app/controllers/admin/invoices_controller.rb
  app/models/invoice.rb
  app/views/admin/invoices/show.html.erb
  spec/features/admin/invoices/show_spec.rb
  spec/models/invoice_spec.rb
Labels: Merchant, PR

#64 refactor: Incorporate path helpers on dashboard view
  app/views/dashboard/index.html.erb
Labels: enhancement, Merchant, PR, refactor

#72 User story 34
  app/assets/stylesheets/application.css
  app/views/admin/invoices/show.html.erb
  spec/features/admin/invoices/show_spec.rb
Labels: Admin, PR

#71 Create top navbar and partials
  app/assets/stylesheets/application.css
  app/controllers/admin/merchants_controller.rb
  app/controllers/merchants_controller.rb
  app/views/admin/dashboard/index.html.erb
  app/views/admin/merchants/show.html.erb
  app/views/dashboard/index.html.erb
  app/views/invoices/index.html.erb
  app/views/items/index.html.erb
  app/views/items/show.html.erb
  app/views/merchants/index.html.erb
  app/views/shared/_admin_topper.html.erb
  app/views/shared/_visitor_topper.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
Labels: Merchant, Admin, PR

#76 User story 35
  app/models/invoice.rb
  app/views/admin/invoices/show.html.erb
  spec/features/admin/invoices/show_spec.rb
  spec/models/invoice_spec.rb
Labels: Admin, PR

#77 User story 15
  app/controllers/invoices_controller.rb
  app/helpers/application_helper.rb
  app/views/invoices/show.html.erb
  spec/features/merchant/merchant_invoices_index_spec.rb
Labels: Merchant, PR

#78 User-story-16
  app/assets/stylesheets/application.css
  app/views/invoices/show.html.erb
  spec/features/merchant/merchant_invoices_index_spec.rb
  spec/features/merchant/merchant_invoices_show_spec.rb
Labels: Merchant, PR, refactor

#84 test: Add tests for admin dashboard link (US 20)
  spec/features/admin/dashboard/index_spec.rb
Labels: Admin, PR

#82 User story 36
  app/controllers/admin/invoices_controller.rb
  app/views/admin/invoices/show.html.erb
  app/views/shared/_admin_topper.html.erb
  config/routes.rb
  spec/features/admin/invoices/index_spec.rb
  spec/features/admin/invoices/show_spec.rb
Labels: Admin, PR

#83 User story 19
  app/views/shared/_admin_topper.html.erb
Labels: Admin, PR

#81 User story 10
  app/controllers/items_controller.rb
  app/views/items/edit.html.erb
  app/views/items/index.html.erb
  db/seeds.rb
  spec/features/merchant_spec.rb
Labels: Merchant, PR

#79 Feat: Add tests and functionality for user story 9
  app/views/items/index.html.erb
  spec/features/merchant_spec.rb
Labels: Merchant

#86 Fix: user sotry 10 test
  app/views/items/index.html.erb
Labels: Merchant, PR

#88 User story 21
  app/assets/stylesheets/application.css
  app/controllers/admin/dashboard_controller.rb
  app/models/customer.rb
  app/views/admin/dashboard/index.html.erb
  spec/features/admin/dashboard/index_spec.rb
  spec/features/admin/invoices/show_spec.rb
  spec/models/customer_spec.rb
Labels: Admin, PR

#87 User story 11
  app/controllers/items_controller.rb
  app/views/items/index.html.erb
  app/views/items/new.html.erb
  config/routes.rb
  spec/features/merchant_spec.rb
Labels: Merchant, PR

#89 User story 3.1
  app/assets/stylesheets/application.css
  app/models/merchant.rb
  app/views/dashboard/index.html.erb
  spec/features/dashboard/index_spec.rb
  spec/models/merchant_spec.rb
Labels: enhancement, Merchant, PR

#95 chore: perform setup for API
  Gemfile
  Gemfile.lock
  config/initializers/assets.rb
Labels: enhancement, PR, API

#94 User story 22
  app/assets/stylesheets/application.css
  app/models/customer.rb
  app/views/admin/dashboard/index.html.erb
  spec/features/admin/dashboard/index_spec.rb
  spec/features/admin/invoices/show_spec.rb
  spec/features/admin/merchants/index_spec.rb
  spec/models/customer_spec.rb
Labels: Admin, PR

#97 User story 4.1
  app/assets/stylesheets/application.css
  app/models/merchant.rb
  app/views/dashboard/index.html.erb
  spec/features/admin/dashboard/index_spec.rb
  spec/features/dashboard/index_spec.rb
  spec/models/merchant_spec.rb
Labels: enhancement, Merchant, PR

#99 Fix admin dashboard index spec
  spec/features/admin/dashboard/index_spec.rb
Labels: Admin, refactor
